/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Navigation */
nav {
    background-color: #003366;
    padding: 1em;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main Section */
main {
    max-width: 840px;
    /* required by assignment */
    margin: 0 auto;
}

main img {
    width: 150px;
    /* required */
    height: auto;
    border: 1px solid #ccc;
    padding: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Headings */
h1 {
    color: #003366;
}

/* Paragraphs */
p {
    padding: 0;
    /* required */
}

/* Aside Section */
aside {
    width: 20rem;
    /* required */
    margin: 1rem;
    /* required */
    border: 1px solid rgb(0 0 0 / 0.2);
    /* required */
    padding: 1rem;
    /* required */
    background-color: #eee;
    /* required */
    color: #333;
    /* required */
    text-align: center;
    /* required */
}

aside img {
    width: 200px;
    /* required */
    height: auto;
    /* required */
}

/* Footer */
footer {
    margin-top: 15px;
    /* required */
    border-top: 1px solid #000;
    /* required */
    text-align: center;

}