body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    text-align: center;
    padding: 2em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}